.contact-left{
    height: 100%;
    overflow: hidden;
}

.contact-right{
    text-align: center;
}

.contact-right h1{
    margin-top: 20px;
}

.contact-input{
    margin-bottom: 20px !important;
    width: 80% !important;
}


.contact-left img{
    height: 100%;
}

.contact-info-container{
    margin-top: 20px;
    margin-bottom: 15px;

}

.contact-info a{
    text-decoration: none !important;
    color:black;

    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;


    
}

.contact-info{
    font-size: 15px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    /* CHANGE THIS VALUE TO THE MAXIMUM WIDTH OF ALL THE INFO LINKS */
    width: 211.38px;
    /* ************************************************************ */
    
}

.contact-info-icon{
    font-size: 25px !important;
}

.contact-info span{
    margin-left: 10px;
}

.contact-button{
    background-color: #3F59A8 !important;
    text-transform: none !important; 
    font-size: 20px !important;
}

.status-container{
    max-width: 100%;
    height: 20px;
    margin-top: 20px;
}