.projectContainer{
    margin: auto;
    width: 80%;
}

.tag{
    width: 90px;
    background-color: #3F59A8 !important;
    color: white !important;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.skillTags{
    margin-bottom: 10px;
}

.descriptionStyle{
    width: 100%;
    height: 175px;
    overflow-y: auto; 
}


.iconYTStyle{
    color: red !important;
}

.iconGHStyle{
    color:black !important;
}
.iconWebStyle{
    color:rgb(49, 49, 206) !important;
}