.event-icon{
    background-color: #3F59A8 !important;
}

.event-icon > svg {
    /*
    height: auto;
    width: min(2.5vw, 24px);
    */
}

.event-content{
    text-align-last: left !important;
}

.event-content h2{
    margin: 10px;
    color: #3F59A8;
    /*
    font-size: min(4vw, 24px);
    */
}

.event-content h3{
    margin: 10px;
    color: #000000DE;
    /*
    font-size: min(4vw, 24px);
    */
}

.event-content ul{
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 25px;
    /*
    font-size: min(3vw, 16px);
    */
}

.event-content li{
    text-align: left;
}