.Header{
    height: 70px;
    background-color: white !important;
    position: fixed;

    line-height: 60px;
    
}


.Header h3{
    border-top: 5px solid transparent;
    margin:0;
    width: 100%;
    color:black
    
}

.title{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    width: max-content !important;
    cursor: pointer;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
