.Header{
    width: 100%;
    height: 70px;
    background-color: #3F59A8;
    position: fixed;

    line-height: 60px;
    
}


.Header p{
    border-top: 5px solid transparent;
    margin:0;
    width: 100%;
    color:white
    
}

.title{
    padding-left: 40px;
    font-size: 25px;
}
